[build-system]
requires = [
    "scikit-build-core"
]
build-backend = "scikit_build_core.build"

[project]
name = "py-bitcoinkernel"
version = "0.1.0a3"
description = "A Python wrapper for libbitcoinkernel"
authors = [
    { name = "Stephan Vuylsteke", email = "stickies-v@protonmail.com" }
]
license = { text = "MIT" }
readme = "README.md"
dependencies = [
]
requires-python=">=3.10"

[tool.cibuildwheel]
test-command = "pytest {project}/test"
test-extras = ["test"]

[tool.interrogate]
exclude = ["depend", "test", "src/pbk/capi/bindings.py"]
ignore-init-module = true
ignore-module = true
ignore-nested-functions = true
ignore-private = true
ignore-semiprivate = true
fail-under=100

[tool.pytest.ini_options]
testpaths = ["test"]
addopts = ["--doctest-modules", "--doctest-continue-on-failure"]
doctest_optionflags = ["NORMALIZE_WHITESPACE", "ELLIPSIS"]

[tool.coverage.report]
exclude_also = [
    "if (?:\\w+\\.)?TYPE_CHECKING:"
]

[tool.coverage.run]
branch = true
source = ["src/pbk"]
omit = [
    "src/pbk/capi/bindings.py",  # Autogenerated bindings file
]

[tool.scikit-build]
cmake.version = "CMakeLists.txt"
wheel.packages = ["src/pbk"]
wheel.install-dir = "pbk/_libs"
sdist.include = [
    "depend/bitcoin/src/univalue/lib/**",  # Otherwise this doesn't get included in the sdist
]

[project.optional-dependencies]
test = [
    "coverage[toml]",
    "pytest>=7.0",
    "pytest-cov",
]
docs = [
    "mkdocs>=1.6",
    "mkdocs-material>=9.5",
    "mkdocstrings[python]>=0.26",
]
docs-test = [
    "interrogate",
]
