[build-system]
requires = [
    "setuptools",
    "scikit-build",
    "wheel",
    "cmake",
    "ninja",
    "clang==15.*",
    "ctypeslib2"
]
build-backend = "setuptools.build_meta"

[project]
name = "py-bitcoinkernel"
version = "0.1.0"
description = "A Python wrapper for libbitcoinkernel"
authors = [
    { name = "Stephan Vuylsteke", email = "stickies-v@protonmail.com" }
]
license = { text = "MIT" }
readme = "README.md"
dependencies = [
]
requires-python=">3.10"

[tool.setuptools]
packages = { find = { where = ["src"] } }

[project.optional-dependencies]
dev = [
    "pytest>=7.0",
    "ctypeslib2",  # to generate the language bindings
]
